

<body>

  <!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a href="/home" class="navbar-brand"> My Collection</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <i class="fa-solid fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/home" class="nav-link">View Books</a>
          </li>
          <li class="nav-item">
            <a href="/quotes" class="nav-link">View Quotes</a>
          </li>
          <li class="nav-item">
            <a href="/" (click)="logout()" class="nav-link">Logout</a>
          </li>
        </ul>

        <div class="theme-btn form-check form-switch">
          <input class="form-check-input" type="checkbox" id="themeSwitch" (change)="toggleTheme()" [checked]="isDarkMode">
          <label class="form-check-label" for="themeSwitch">
            <span *ngIf="!isDarkMode"><i class="fa-regular fa-sun"></i> Light Mode</span>
            <span *ngIf="isDarkMode"><i class="fa-regular fa-moon"></i> Dark Mode</span>
          </label>
        </div>

      </div>
    </div>
  </nav>

  <!-- Filler text and img + btn -->

  <section class="text-and-img text-light p-5 p-lg-0 text-center text-sm-start">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 justify-content-sapce-between">
          <div class="me-4 pt-4">
            <h1 class="save-txt">Save <span class="text-warning">Books and Quotes</span></h1>
            <p class="save-txt lead my-4">
              The best place to Store and Share your favorite books and quotes.
              Romeo- Nay, that's not so.
              Mercutio- I mean, sir, in delay
              We waste our lights in vain, like lamps by day.
              Take our good meaning, for our judgment sits
              Five times in that ere once in our five wits.
            </p>



            <button class="yellow-btn btn btn-lg me-2 mt-2" data-bs-toggle="modal" data-bs-target="#add-modal">Add Quote</button>
            <a href="/home" class="yellow-btn btn btn-lg me-2 mt-2">View Books</a>


          </div>
        </div>

        <div class="col-lg-6">
          <img class="full-width-img d-none d-lg-block" src="books-bg.jpg" alt="" />
        </div>

      </div>


    </div>

    <!-- Add modal-->

    <div class="modal fade" tabindex="-1" id="add-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title add-form">Add Quote</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onFormSubmit()" [formGroup]="quotesForm">

              <div class="mb-3 add-form">
                <label for="quotation" class="form-label">Quotation</label>
                <input type="text" id="quotation" formControlName="quotation" class="form-control" />
              </div>

              <div class="mb-3 add-form">
                <label for="attributed" class="form-label">Attributed</label>
                <input type="text" id="attributed" formControlName="attributed" class="form-control" />
              </div>

              <div class="mb-3 add-form">
                <label for="dateOfQuote" class="form-label me-2">Date Of Quote</label>
                <mat-form-field appearance="fill">
                  <mat-label>Date of Quote</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dateOfQuote">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="modal-footer-btn btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" (click)="onFormSubmit()" class="modal-footer-btn btn btn-primary" data-bs-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- Currently viewing -->

  <section class="viewing-bar text-light p-3">
    <div class="container">
      <div class="d-md-flex justify-content-center">
        <h3 class="save-txt mb-3 mb-md-0 text-center">Viewing Quotes</h3>
      </div>
    </div>
  </section>

  <section class="bg-section">
    <div class="container">
      <div class="row text-center pt-4">

        @if (quotes$ | async;as quotes) {
        @if (quotes.length > 0){
        @for (item of quotes; track $index){
        <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch">
          <div class="card bg-dark text-light flex-fill">
            <div class="card-body text-center d-flex flex-column">
              <p class="card-title mb-3"> &quot;{{item.quotation}}&quot;</p>
              <p class="card-text flex-grow-1">
                - {{item.attributed}}
              </p>
              <div class="d-flex justify-content-center">
                <p class="mb-0">{{ item.dateOfQuote | date:'yyyy-MM-dd' }}</p>
              </div>
              <div class="mt-auto d-flex justify-content-between">
                <button type="button" class="btn btn-edit-del" (click)="openEditModal(item)" data-bs-toggle="modal" data-bs-target="#edit-modal"><i class="fa-solid fa-pen"></i></button>
                <button type="button" class="btn btn-edit-del" data-bs-toggle="modal" (click)="openDeleteModal(item)" data-bs-target="#delete-modal">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>
          </div>

          <!-- Edit and delete modal -->

          <div class="modal fade" tabindex="-1" id="edit-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title add-form">Edit Quote</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="onEditFormSubmit()" [formGroup]="quotesForm">

                    <div class="mb-3 add-form">
                      <label for="quotation" class="form-label">Quotation</label>
                      <input type="text" id="quotation" formControlName="quotation" class="form-control" />
                    </div>

                    <div class="mb-3 add-form">
                      <label for="attributed" class="form-label">Attributed</label>
                      <input type="text" id="attributed" formControlName="attributed" class="form-control" />
                    </div>

                    <div class="mb-3 add-form">
                      <label for="dateOfQuote" class="form-label me-2">Date Of Quote</label>
                      <mat-form-field appearance="fill">
                        <mat-label>Date of Quote</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dateOfQuote">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" (click)="onEditFormSubmit()" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" tabindex="-1" id="delete-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="delete-text modal-title">Are you sure you want to delete:</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="delete-text" *ngIf="selectedQuoteForDeletion">{{selectedQuoteForDeletion.quotation}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="modal-footer-btn btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" (click)="onDelete()" class="modal-footer-btn btn btn-primary" data-bs-dismiss="modal">Delete</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        }
        } @else {
        <div class="no-booksdiv">
          <h1 class="no-books">Be first to add a Quote</h1>
          <button class="yellow-btn btn btn-lg ms-2 mt-2" data-bs-toggle="modal" data-bs-target="#add-modal">Add Quote</button>
        </div>
        }
        }


      </div>
    </div>

  </section>

  </body>
