

.card {
  height: 100%;
  --bs-card-border-width: 0;
}

.card-text {
  flex-grow: 1;
}

.bg-section {
  background-image: url('/amz-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 120vh;
  object-fit: fill;
  overflow: auto;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}


.navbar-toggler {
  transition: outline 0.1s ease-in-out;
  color: var(--text-color);
  border-color: var(--text-color);
  border-radius: 10px;
  border-width: medium;
}


  .navbar-toggler:hover {
    box-shadow: 0 0 0 3px white;
    transition: 0.1s ease-in-out;
  }

.form-check-input:focus {
  border-color: var(--secondary-color) !important;
  outline: none;
  box-shadow: none;
}


.full-width-img {
  position: relative;
  width: 150%;
  height: auto;
  object-fit: cover;
  clip-path: polygon(100% 100%, 100% 0%, 6% 0%, 0% 100%);
}

.cdk-overlay-container {
  z-index: 1200 !important;
}

.no-booksdiv {
  z-index: 1000 !important;
}

.nav-link {
  color: var(--text-color);
}

.navbar-brand {
  font-weight: 800;
  color: var(--text-color);
}

.navbar-brand:hover {
  font-weight: 800;
  color: var(--text-color);
}

.navbar {
  background-color: var(--secondary-color);
}


.text-and-img {
  overflow: hidden;
  background-color: var(--primary-color);
}

.save-txt {
  color: var(--text-color);
}

.yellow-btn {
  background-color: orange;
  color: var(--text-color);
  font-weight: 600;
  transition: background-color 0.1s ease-in-out;
  margin-right: 0.5rem;
}

  .yellow-btn:hover {
    background-color: darkorange;
    color: var(--text-color);
  }

  .yellow-btn:active {
    background-color: darkorange !important;
    color: var(--text-color) !important;
    border-color: darkorange !important;
    opacity: 0.25;
  }

.viewing-bar {
  background-color: var(--secondary-color);
}

.modal-content {
  background-color: var(--primary-color);
  text-align: center;
}

.modal-footer-btn {
  color: var(--text-color);
}

.modal-footer-btn:active {
  color: var(--text-color) !important;
  opacity: 0.25;
}

.modal-footer-btn:hover {
  color: var(--text-color) !important;
}

.add-form {
  color: var(--text-color);
}

.form-control {
  background-color: white;
  color: black;
}

.form-control:focus {
  background-color: white;
  color: black;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  border-radius: 10px;
  
}

.modal-footer-btn {
  color: var(--text-color);
}

.card-body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn-edit-del {
  background-color: var(--primary-color);
}

  .btn-edit-del:hover {
    color: orange;
  }

.no-books {
  font-weight: 600;
  color: var(--text-color);
}

.theme-btn {
  color: var(--text-color);
}

.delete-text {
  color: var(--text-color);
}


@media (max-width: 576px) {
  .yellow-btn {
    margin: 0.5rem;
  }
}
