

<title>Register</title>

<section class="register-bg">

  <div class="container">

    <div class="d-block text-center mt-3">
      <h1 class="brand-title">Mi Collection</h1>
    </div>

    <form (ngSubmit)="onFormSubmit()" [formGroup]="registerForm" class="register-form mx-auto">
      <h4 class="h4-register text-center">Register</h4>
      <div *ngIf="errorMessage" class="text-danger text-center mb-3">
        {{ errorMessage }}
      </div>
      <div class="mb-3 mt-5">
        <label for="username" class="form-label">User Name</label>
        <input type="text" formControlName="username" class="form-control" id="exampleInputEmail" />

      </div>
      <div class="mb-3">
        <label for="attributed" class="form-label">attributed</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword" />
        <a href="/" class="form-text mt-3">Login</a>
      </div>

      <button type="submit" class="btn-register btn btn-primary mt-4">Register</button>
    </form>
  </div>
</section>
